.slide--4 {
  @media (max-width: 800px) {
    margin-top: 0;
    padding-bottom: 100px;
  }
}

.hire-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hire-me__form {
  padding-top: 0;
  padding-bottom: 500px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 800px) {
    width: 100%;
    padding-top: 0;
    margin-bottom: 70px;
  }
}

.hire-me__question {
  font-size: 30px;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.hire-me__work-type-wrapper {
  padding-top: 40px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .hire-me__work {
    width: 200px;
    height: 55px;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 20px;
    font-family: "Proxima Nova Bold", Arial, sans-serif;
    position: relative;
    @media (max-width: 800px) {
      width: 160px;
      margin-bottom: 15px;
      box-sizing: border-box;
    }
  }

  .hire-me__work--design {
    margin-left: 70px;
    @media (max-width: 800px) {
      margin-left: 20px;
    }
  }

  .hire-me__work--other {
    margin-left: 40px;
    @media (max-width: 800px) {
      margin-left: 20px;
    }
  }

  .hire-me__work-text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
  }

  @media (max-width: 800px) {
    //display: grid;
    //grid-template-areas: "first second" "first third";
    //padding-top: 0;

    .hire-me__work {
      font-size: 14px;
      width: 150px;
    }
  }
}

.hire-me__work--design {
  @media (max-width: 800px) {
    display: none;
  }
}

.hire-me__work input:checked ~ .hire-me__work-text {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  outline: 2px solid #0f33ff;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0f33ff;
}

.hire-me__row-wrapper {
  display: flex;
  margin-bottom: 40px;
  @media (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
    width: 160px;
    margin-bottom: 0;
  }

}

.hire-me__bottom-wrapper {
  height: 45px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;

  input {
    border: none;
    color: white;
    border-bottom: 1px solid white;
    padding: 5px 10px;
    background: transparent;
    font-family: "Proxima Nova Light", Arial, sans-serif;
    font-size: 20px;
    width: 315px;
    box-sizing: border-box;
    @media(max-width: 800px) {
      margin-bottom: 0;
      width: 45%;
    }
  }

  @media(max-width: 800px) {
    flex-wrap: nowrap;
    margin-bottom: 20px;
    justify-content: space-between;
  }
}

.hire-me__submit {
  display: block;
  width: 400px;
  font-size: 18px;
  height: 50px;
  box-sizing: border-box;
  text-transform: uppercase;
  background: #0f33ff;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  margin-bottom: 30px;
  @media (max-width: 800px) {
    width: 100%;
  }
}


