.contact-popup {
  position: absolute;
  width: 420px;
  height: 450px;
  left: 65px;
  top: 55px;
  background: white;
  color: #0b0b0b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 50;
  input {
    border: none;
    border-bottom: 1px solid #0b0b0b;
    background: transparent;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    &::placeholder {
      font-family: Arial, sans-serif;
      font-size: 14px;
    }
  }
  textarea {
    border: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
    margin-bottom: 10px;
  }
  @media (max-width: 800px) {
    padding-top: 20px;
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    textarea {
      height: 80px;
      margin-bottom: 15px;
    }
    input {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
.contact-popup__wrapper {
  box-sizing: border-box;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  @media (max-width: 800px) {
    padding: 0;
    width: 85%;
    position: relative;
  }
}
.contact-popup__send {
  align-self: center;
  border: none;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  color: white;
  height: 40px;
  width: 150px;
  margin-bottom: 20px;
  cursor: pointer;
  text-transform: uppercase;
  background: #0f33ff;
  font-size: 14px;
  transition: all 250ms ease-in-out;
  &:hover {
    -webkit-box-shadow: 0px 0px 16px 0px #0f33ff;
    -moz-box-shadow: 0px 0px 16px 0px #0f33ff;
    box-shadow: 0px 0px 16px 0px #0f33ff;
    transform: scale(1.1);
  }
  @media (max-width: 800px) {
    margin-bottom: 0;
    width: 100%;
    left: 0;
  }
}

.contact-popup__error, .contact-popup__pending, .contact-popup__sent {
  color: red;
  padding-left: 20px;
  height: 40px;
  margin: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-top: 0;
  position: relative;

  @media (max-width: 800px) {
    padding-left: 35px;
    margin-bottom: 0;
    &:before {
      left: -5px;
      top: -9px;
    }
  }
}
.contact-popup__pending {
  color: #0f33ff;
}
.contact-popup__sent {
  color: black;
  &:before {
    content: "";
    position: absolute;
    left: -20px;
    top: -10px;
    width: 30px;
    height: 30px;
    background-image: url("../../../../assets/img/tick-black.svg");
    background-size: cover;
  }
}
.contact__map {
  @media (max-width: 800px) {
    display: none;
  }
}
.contact-popup__label {
  @media (max-width: 800px) {
    display: none;
  }
}
.contact-popup__input-wrapper {
  margin-bottom: 10px;
}
