.side-nav {
  z-index: 500;
  position: absolute;
  left: 10px;
  top: 50px;
  height: 600px;
  display: flex;
  @media (max-width: 800px) {
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    background: #0c0c0c;
  }
  @media (min-width: 801px) and (max-width: 1350px) {
    display: none;
  }
}
.side-nav__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Proxima Nova Light", Arial, sans-serif;
  font-size: 14px;
  position: relative;
  text-transform: capitalize;
  &:before {
    z-index: -2;
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    position: absolute;
    top: 0;
    background: #1e1f1f;
  }
  &:after {
    z-index: -1;
    content: "";
    display: block;
    height: 80%;
    width: 5px;
    position: absolute;
    top: 60px;
    opacity: 0.3;
    background-image: url("../../assets/img/circle.svg");
    background-size: 5px 30px;
  }
  @media (max-width: 800px) {
    z-index: 100;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    left: 0;
    height: 50px;
    margin: 0;
    &:before, &:after {
      display: none;
    }
  }
}
.side-nav__item {
  cursor: pointer;
  width: 100%;
  opacity: 0.4;
  display: flex;
  box-sizing: border-box;
  position: relative;
  transition: all 250ms ease-in-out;

  &:hover {
      transform: scale(1.2);
  }

  &:before {
    z-index: 20;
    content: "";
    display: block;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 5px;
    left: 60px;
    opacity: 100%;
    background-image: url("../../assets/img/circle.svg");
  }
  span {
    margin-left: 45px;
    margin-right: 25px;
    @media (max-width: 800px) {
      display: none;
    }
  }
  a:active {
    opacity: 1
  }
  @media (max-width: 800px) {
    width: auto;
    &:before, &:after {
      display: none;
    }
  }
}
.side-nav__item.active {
  opacity: 1;
  transform: scale(1.2);
  &:before {
    z-index: 500;
    content: "";
    display: block;
    height: 7px;
    width: 7px;
    position: absolute;
    top: 4px;
    left: 59px;
    opacity: 1;
    background: #0f33ff;
    border-radius: 50%;
  }
  @media (max-width: 800px) {
    &:before {
      display: none;
    }
  }
}