.main {
  //display: flex;
  //align-items: center;
  //flex-direction: column;
  display: flex;
  justify-content: center;
  @media (max-width: 800px) {
    padding-left: 0;
    width: 95vw;
    box-sizing: border-box;
  }
}
.main__sliders-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  @media (max-width: 800px) {
    padding-left: 0;
    height: auto;
    scroll-snap-type: none;
  }
}
.main::-webkit-scrollbar, .main__sliders-wrapper::-webkit-scrollbar {
  display: none;
}
#slide-1, #slide-2, #slide-3, #slide-4 {
  width: 1000px;
  height: 100vh;
  box-sizing: border-box;
  @media (max-width: 800px) {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }
}
#slide-4 {
  height: auto;
}
