.filters {
  display: flex;
  justify-content: space-between;
}
.filters__filter {
  font-size: 14px;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  width: 100px;
  height: 45px;
}
.filters__filter.active {
  background: #0f33ff;
  border: none;
}