.home {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.home__top-wrapper {
  box-sizing: border-box;
  margin-bottom: 100px;
}
.home__links {
  height: 200px;
  box-sizing: border-box;
  border-top: 1px solid white;
  background: #0c0c0c;
  z-index: 20;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 800px) {
    height: auto;
    margin-bottom: 200px;
  }
}
.home__title {
  font-size: 65px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 90px;
  @media (max-width: 800px) {
    font-size: 47px;
    text-align: center;
  }
}
.home__portrait {
  position: absolute;
  right: 0;
  top: 10px;
  @media (max-width: 800px) {
   visibility: hidden;
  }
}
.home__links-wrapper {
  display: flex;
  @media (max-width: 800px) {
    justify-content: center;
  }
}
.home__button {
  display: flex;
  outline: none;
  align-items: center;
  height: 30px;
  width: 150px;
  text-transform: uppercase;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  margin-right: 50px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 22px;
    z-index: -1;
    width: 90px;
    height: 100%;
    display: block;
    border: 2px solid #0f33ff;
    box-sizing: border-box;
  }
  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 75px;
    z-index: 1;
    cursor: pointer;
    width: 19px;
    height: 15px;
    display: block;
    background-image: url("../../../assets/img/arrow.svg");
    background-size: cover;
  }
  @media (max-width: 800px) {
    margin-right: 0;
  }
}
.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 65px;
  border-radius: 10px;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  text-transform: uppercase;
  img {
    margin-right: 10px;
  }
  @media (max-width: 800px) {
    width: auto;
    span {
      display: none;
    }
    img {
      margin: 0 20px;
    }
  }
}
.home__link--linkedin {
  background: #0077b5;
}
.home__link--github {
  background: #4f4f4f;
}
.home__link--portfolio {
  width: 200px;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  text-transform: uppercase;
  @media (max-width: 800px) {
    width: 175px;
  }
}
.home__swipe-wrapper {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25px;
  opacity: 0.5;
  .home__swipe {
    display: none;
    @media (max-width: 800px) {
      display: block;
      font-family: "Proxima Nova Light", Arial, sans-serif;
      position: relative;
      margin-top: 0;
      &:before {
        content: "";
        position: absolute;
        top: 20px;
        left: 23px;
        width: 20px;
        height: 20px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        transform: rotate(45deg);
      }
    }
  }
}
