.home {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.home__top-wrapper {
  box-sizing: border-box;
  margin-bottom: 100px;
}
.home__links {
  height: 200px;
  box-sizing: border-box;
  border-top: 1px solid white;
  background: #0c0c0c;
  z-index: 20;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}
.home__title {
  font-size: 65px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 90px;
}
.home__portrait {
  position: absolute;
  right: 0;
  top: 10px;
}
.home__button {
  height: 30px;
  text-transform: uppercase;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  margin-right: 100px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 22px;
    z-index: -1;
    width: 90px;
    height: 100%;
    display: block;
    border: 2px solid #0077b5;
    box-sizing: border-box;
  }
  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 75px;
    z-index: 1;
    cursor: pointer;
    width: 19px;
    height: 15px;
    display: block;
    background-image: url("../../../assets/img/arrow.svg");
    background-size: cover;
  }
}
.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 65px;
  border-radius: 10px;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  text-transform: uppercase;
  img {
    margin-right: 10px;
  }
}
.home__link--linkedin {
  background: #0077b5;
}
.home__link--github {
  background: #4f4f4f;
}
.home__link--portfolio {
  width: 200px;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  text-transform: uppercase;
}