.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 150px;
  @media (max-width: 800px) {
    display: none;
  }

}
.header__burger-image {
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.3) rotate(180deg);
  }
  @media (max-width: 800px) {
    display: none;
  }
}