$main-blue: #0077b5;
$phone-width: 800px;
.main-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-rows: 80px 600px;
  grid-template-areas: "header header header" "sliders sliders sliders";
  transition: all 500ms ease-in-out;
  @media (max-width: $phone-width) {
    padding: 0;
    width: 95%;
    //overflow-y: hidden;
  }
}
.main-wrapper::-webkit-scrollbar {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: none;
  border: 2px solid white;
  color: white;
  height: 65px;
  cursor: pointer;
}

.perspective {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 800px) {
    display: none;
  }
}
.perspective::-webkit-scrollbar {
  display: none;
}

.outer-left {
  transform: scale(0.4) translateX(-50%) rotate(-5deg);
  border: 15px solid #0f33ff;
  flex-shrink: 0;
  position: absolute;
  left: -7%;
  width: 100%;
  transition: all 500ms ease-in-out;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    cursor: pointer;
  }
}
