
@font-face {
  font-family: "Proxima Nova Black";
  src: url("./assets/fonts/FontsFree-Net-Proxima-Nova-Black.otf"),
  url("./assets/fonts/FontsFree-Net-Proxima-Nova-Black.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./assets/fonts/FontsFree-Net-Proxima-Nova-Bold.otf"),
  url("./assets/fonts/FontsFree-Net-Proxima-Nova-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url("./assets/fonts/FontsFree-Net-Proxima-Nova-Light.otf"),
  url("./assets/fonts/FontsFree-Net-Proxima-Nova-Light.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #0c0c0c;
  color: white;
  font-size: 18px;
  margin: 0;
  font-family: "Proxima Nova Black", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 350px) and (max-width: 800px) {
  body {
    min-width: 350px;
    max-width: 800px;
  }
}
a {
  text-decoration: none;
  color: white;
}

ul, ol {
  padding-left: 0;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
